@require '../../base'

.title
  margin: 0 0 20px 0
  color: secondary-color
  font-weight: bold

.buy-ticket-form
  margin: 20px 0 40px 0
  .form-group
    margin-right: 40px

  .dynamic-field-options-container
    .btn
      margin-top: 25px;
    .remove-field
      color: #b90000;
    .add-field
      color: #337ab7
.event-price-container
  margin: 10px 0
  .old-price
    text-decoration: line-through
    color: _medium_grey
  .price
    color: secondary-color
    font-weight: bold

.detail
  margin: 5px 0
  .map-icon
    margin-left: 10px

.event-date
  margin-top: 10px

.event-description-container
  margin-top: 20px
