@require '../../base'

.title
  margin: 0 0 20px 0
  font-size: 26px

.event-price-container
  margin: 10px 0
  .old-price
    text-decoration: line-through

.buy-ticket-container
  margin: 10px 0

.detail
  font-size: 18px
  margin: 5px 0
  .map-icon
    margin-left: 10px

.event-date
  margin-top: 10px

.event-description-container
  margin-top: 20px
