@require '../../base'

.signup-container
  text-align: center
  background-color: #fff
  default-border-radius()
  back-box-shadow()
  padding: 20px

  .title
    margin-bottom: 20px
  .subtitle
    margin-bottom: 15px
    font-size: 22px

.signup-sections-container
  border-bottom: 1px solid _grey
  border-width: 50%
  padding-bottom: 20px
  clearfix()

.facebook-signup-container
  border-right: 2px solid #ccc

.form-signup-container
  text-align: left

.service-terms
  margin-top: 10px
