@require '../../base'

.purchased-item
  default-border-radius()
  back-box-shadow()
  margin: 20px 0
  padding: 15px 0

  .event-image img
    width: 100%
    max-width: 450px
  .subtitle .value
    color: main-color
    font-weight: bold
  .history-tickets-table
    margin-bottom: 0
