extends /base

block container
  if alert
    include /shared/alert
  
  div.row
    section.col-md-7
      h2.title= t('checkout.reviewTitle')
      div.event-name.subtitle #{checkout.event.name}
      include ./_itemsTable
      
    section.col-md-5
      h2.title= t('checkout.paymentTitle')
      include ./_paymentForm

  block prepend js-footer
    script(type="text/javascript" src="//assets.moip.com.br/v2/moip.min.js")
