extends /base

block container
  div.row: div.col-md-8.col-md-offset-2: section.signup-container
    h1= "Create a new account for free"
    div.row
      div.col-md-6
        span= "facebook sign up"
      div.col-md-6
        span= "form sign up"
