.logo
  font-family: logo-font
  logo-style()
  a
    color: header-font-color
    &:hover
      cursor: pointer
      text-decoration: none

.header
  default-transition(0.4s)
  display: block
  padding: 15px
  box-sizing: border-box
  width: 100%
  position: fixed
  top: 0
  z-index: 10
  .default-header
    display: none
  .search-header
    .search-input
      width: 100%
  .container
    padding: 0
    margin: 0 auto
  .menu-user
    float: right
    .list-item
      padding: 10px 0
    .glow
      padding: 0
      a
        padding: 10px 20px
        border: 1px solid #BDBDBD
        default-border-radius()
        &:hover
          background-color: header-font-color
          color: main-color
    .fa
      margin-left: 10px
    .separator
      color: header-font-color
      font-size: 1.3em
    a, .logout-button
      color: header-font-color
      background: none
      border: none
      font-weight: normal
      font-size: 1.1em
      &:hover, &:active
        text-decoration: none
  &.background
    .container
      padding: 0 10px
  .background-animation
    background-color: main-color
    bottom-box-shadow()
    opacity: 0.95
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: -1
    default-transition(0.2s)

.menu-toggle
  position: relative
  float: left
  height: 100%
  width: 35px
  padding: 9px 5px
  box-sizing: border-box
  &:hover
    cursor: pointer
  .line
    height: 2px
    background-color: header-font-color
    margin: 7px 0
    default-border-radius()
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
