.header
  default-transition()
  display: block
  padding: 25px
  box-sizing: border-box
  width: 100%
  position: fixed
  top: 0
  z-index: 10
  .logo
    margin: 5px 0 0 30px
    logo-style()
  .menu-user
    float: right
    margin-top: 10px
    a
      color: header-color
      font-size: 18px
  &.background
    background-color: main-color
    bottom-box-shadow()
    opacity: 0.9
    padding: 10px 25px

.menu-toggle
  position: relative
  float: left
  height: 100%
  width: 35px
  padding: 9px 5px
  box-sizing: border-box
  &:hover
    cursor: pointer
  .line
    height: 2px
    background-color: menu-toggle-color
    margin: 7px 0
    default-border-radius()
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
