.header
  default-transition(0.4s)
  display: block
  padding: 15px
  box-sizing: border-box
  width: 100%
  position: fixed
  top: 0
  z-index: 10
  .logo
    font-family: ptSans
    margin: 5px 0 0 30px
    logo-style()
    a
      color: header-font-color
      &:hover
        cursor: pointer
        text-decoration: none
  .menu-user
    float: right
    margin-top: 10px
    a, .logout-button
      color: header-font-color
      background: none
      border: none
      font-weight: normal
      font-size: 1.1em
      &:hover, &:active
        text-decoration: none
  &.background
    padding: 15px 25px
  .background-animation
    background-color: main-color
    bottom-box-shadow()
    opacity: 0.95
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: -1
    default-transition(0.2s)

.menu-toggle
  position: relative
  float: left
  height: 100%
  width: 35px
  padding: 9px 5px
  box-sizing: border-box
  &:hover
    cursor: pointer
  .line
    height: 2px
    background-color: header-font-color
    margin: 7px 0
    default-border-radius()
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
