// .btn
//   text-decoration: none
//   display: inline-flex
//   align-items: center
//   background-color: button-default-bg-color
//   color: button-default-color
//   font-weight: 900
//   padding: 10px
//   default-border-radius()
//   text-transform: uppercase
//   box-sizing: border-box
//   default-transition()
//   font-size: button-font-size
//   border: 0
//   .fa
//     margin-right: 8px
//     font-size: button-icon-font-size
//   &:hover,
//   &:visited,
//   &:focus
//     text-decoration: none
//     color: button-default-color
//     outline: none
//     box-shadow: 0px 0px 8px 2px #222
//   &:active
//     box-shadow: 0px 0px 5px 0px #222
//     transform: translateY(2px)
//
//   &.primary
//     background-color: main-color
//     color: _grey

.inline-list
  .list-item
    display: inline-block
    margin: 0 10px

.overlay
  position: fixed
  height: 100%
  width: 100%
  left: 0
  top: 0
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11
  display: none

// form
//   input[type="text"]
//     default-border-radius()
//     padding: 5px
//     border: 1px solid #ccc
