.btn .fa
  margin-right: 8px
.btn.btn-primary
  color: #fff
  background-color: _green
  border-color: _dark-green
  &:active
    background-color: _dark-green

.btn.btn-default
  color: #fff
  background-color: secondary-color
  border-color: main-color
  &:active
    background-color: main-color
    color: #fff

.inline-list
  .list-item
    display: inline-block
    margin: 0 10px

.overlay
  position: fixed
  height: 100%
  width: 100%
  left: 0
  top: 0
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11
  display: none
