default-border-radius()
  border-radius: 2px

default-transition(time = 0.1s)
  transition: all time ease

slow-transition()
  transition: all 0.5s ease

side-box-shadow()
  box-shadow: 2px 0px 2px #353535

bottom-box-shadow()
  box-shadow: 0px 2px 2px #353535

back-box-shadow()
  box-shadow: 0 0 4px #969696

logo-style()
  font-size: 1.6em
  font-weight: 900
  float: left
  color: header-font-color

clearfix()
  &:after
    content: ''
    display: block
    clear: both
