logo-font = 'Lobster Two', sans-serif
main-font = 'Droid Sans', sans-serif;

base-font-size = 14px

main-color = #4D1099
secondary-color = #7e46c3
bg-color = #fff
_grey = #ededed
_medium_grey = #b0b0b0
_green = #4aa055
_dark-green = #36732a
header-font-color = #f3ebfc

breakpoint-tablet = 860px
breakpoint-smartphone = 520px
