font = 'Lato', sans-serif
title-font-size = 28px
font-size = 14px
main-color = #4D1099
_grey = #ededed

header-bg-color = _gray
menu-toggle-color = main-color

button-default-bg-color = _gray
button-default-color = main-color
button-font-size = 14px
button-icon-font-size = 22px
