@require 'common/reset'
@require 'common/bootstrap-override'
@require 'common/variables'
@require 'common/mixins'
@require 'common/components'
@require '_partials/*'

body
  font-family: font
h1
  font-size: title-font-size
a
  text-decoration: none
  font-weight: 900
  color: link-color
  display: inline-block
  default-transition()
  &:active
    transform: translateY(1px)

.page-wrapper
  margin-top: 60px

.before-container
  width: 100%
  margin: 0 auto

.container
  default-transition()
  box-sizing: border-box
