@require 'common/reset'
@require 'common/bootstrap-override'
@require 'common/variables'
@require 'common/mixins'
@require 'common/components'
@require '_partials/*'

body
  font-family: font
  background-color: bg-color
a
  text-decoration: none
  font-weight: 900
  color: link-color
  display: inline-block
  default-transition()
  &:active
    transform: translateY(1px)

ul, li
  list-style: none
  clearfix()

.page-wrapper
  margin-top: 100px

.before-container
  width: 100%
  margin: 0 auto

.container
  default-transition()
  box-sizing: border-box
