@require 'common/variables'
@require 'common/mixins'
@require 'common/components'
@require '_partials/*'

body
  font-family: main-font
  font-size: base-font-size
  background-color: bg-color
a
  color: inherit
  text-decoration: none
  font-weight: 900
  display: inline-block
  default-transition()
  &:active
    transform: translateY(1px)
  &:hover
    color: inherit


ul, li
  list-style: none
  clearfix()
  padding: 0
  margin: 0

h1, h2, h3
  font-size: base-font-size
  font-weight: normal

.title
  font-size: 1.8em
  font-weight: bold
  margin: 0 0 30px 0

.subtitle
  font-size: 1.4em
  font-weight: normal
  margin: 0 0 10px 0

.page-wrapper
  margin-top: 100px

.before-container
  width: 100%
  margin: 0 auto

.container
  default-transition()
  box-sizing: border-box

.centered-box
  .title
    text-align: center
    margin: 0 0 30px
  .content
    background-color: #fff
    default-border-radius()
    back-box-shadow()
    padding: 20px 40px

.events-list-container

  .events-list
    padding-left: 0

  .events-list-title
    margin: 0 0 10px 15px

  .event-link
    display: block
    font-weight: normal
    &:hover
      text-decoration: none

  .event-item
    margin-bottom: 20px

    .image
      width: 100%
      height: 180px
      display: block
    .event-contents
      background-color: #fff
      padding: 12px 0
    .event-title
      font-weight: bold
      color: main-color
      margin-bottom: 16px
    .theater
      font-weight: bold
    .date
      margin-bottom: 16px
    .old-price
      text-decoration: line-through
      font-size: 0.9em
      color: _medium_grey
    .price
      font-weight: bold
      color: main-color
      font-size: 1.2em

@require './_smartphone'
