extends /base

block before-container
  div.search-container
    div.search-form-container
      include ./_partials/_search-form

block container


  div.row.events-list-container
    h2.events-list-title.subtitle= Eventos
    ul.events-list

    each e in events
      include ./_partials/_event-item 
