extends /base

block append css
  link(rel="stylesheet" href="assets/css/pages/index/page.css")

block before-container
  div.search-container
    div.search-form-container
      include ./_partials/_search-form

block container
  div.row
    div.col-md-6
      div.block
    div.col-md-6
      div.block
  div.row
    div.col-md-3
      div.block
    div.col-md-3
      div.block
    div.col-md-3
      div.block
    div.col-md-3
      div.block
  div.row
    div.col-md-4
      div.block
    div.col-md-4
      div.block
    div.col-md-4
      div.block
