extends /base

block append css
  link(rel="stylesheet" href="assets/css/pages/index/page.css")

block before-container
  div.search-container
    div.search-form-container
      include ./_partials/_search-form

block container

  each events, filterName in filters
    div.row.events-list-container
      h2.events-list-title= t(filterName)
      ul.events-list

        each e in events
          div.col-md-2
            li.event-item
              span #{e.name}
