tr
  td #{t('ticketTypes.' + ticket.type)}
  td= helpers.numeral.real(ticket.paid_price)
  td
    a(href="/ticket" data-tickets-json="#{JSON.stringify(ticket)}").show-tickets-btn= t('history.itemsTable.showTicket')
