@require '../../main'

.page-wrapper
  margin-top: 0

.tickets-header
  clearfix()
  margin-bottom: 15px
  .logo
    margin: 0
    font-weight: normal
    color: main-color

.event-info
  margin-bottom: 15px

.ticket-container
  clearfix()
  box-sizing: border-box
  border: 1px solid #000
  padding: 15px
  margin-bottom: 10px
