@media (max-width: breakpoint-smartphone)
  .search-form-container
    .search-input-container
      width: 80%
      .search-input
        width: 100%

  .events-list-container
    .event-link
      width: 200px
      display: block
      margin: 0 auto
      margin-bottom: 20px
