@media (max-width: breakpoint-smartphone)
  .search-container
    height: 130px
  .search-form-container
    padding-top: 68px
    .search-input-container
      width: 80%
      .search-input
        width: 100%
        
  .slider-container
    margin: 0 20px
