@require '../../base'

.header
  background-color: transparent
  .background-animation
    height: 0

.search-container
  background: url('/assets/images/header.jpg') no-repeat center 55%
  height: 242px
  background-size: cover

.search-form-container
  text-align: center
  padding-top: 135px
  .btn
    padding: 11px 20px
    default-border-radius()
  .search-input
    width: 460px
    margin-right: 15px
    padding: 10px

.page-wrapper
  margin-top: 0

.row
  margin: 6px 0

.events-list-container
  margin: 20px 0

  .events-list
    padding-left: 0

  .events-list-title
    margin: 0 0 10px 15px

  .event-link:hover
    text-decoration: none

  .event-item
    border: 1px solid _medium_grey
    back-box-shadow()
    default-transition()
    &:hover
      transform: scale(1.05,1.05)
    .image
      width: 100%
      height: 94px
      display: block
    .event-contents
      background-color: #fff
      padding: 12px
    .event-title
      display: block
      font-weight: bold
      color: secondary-color
      margin-bottom: 16px
    .date
      display: block
      margin-bottom: 16px
      font-weight: normal
    .old-price
      display: block
      text-decoration: line-through
      font-weight: normal
      font-size: 0.9em
      color: _medium_grey
    .price
      display: block
      font-weight: bold
      color: secondary-color
      font-size: 1.2em
