@require '../../main'

.header
  background-color: transparent
  .background-animation
    height: 0

.search-container
  background: url('/assets/images/header.jpg') no-repeat center 55%
  height: 242px
  background-size: cover

.search-form-container
  text-align: center
  padding-top: 135px
  .search-input-container
    width: 500px
    position: relative
    margin: 0 auto
    .search-input
      width: 70%
      margin-right: 15px
      padding: 10px
    .search-icon
      position: absolute
      right: 5px
      top: 2px
      font-size: 1.6em
      color: main-color
      background-color: transparent
      border: none
  .btn
    padding: 11px 20px
    default-border-radius()

.page-wrapper
  margin-top: 0

.row
  margin: 6px 0

.events-list-container
  margin: 20px 0 40px 0

  .events-list-title
    margin: 0 0 10px 15px
    
  .event-item
    .event-contents
      padding-left: 12px
      padding-right: 12px

  .slider-container
    position: relative
    margin: 0 15px

    .bx-controls
      position: absolute
      top: 46%
      width: 100%

      .bx-next, .bx-prev
        position: absolute
        background-image: url('/assets/images/arrow.png')
        background-size: cover
        background-repeat: no-repeat
        width: 20px
        height: 36px
      .bx-next
        right: -26px
        transform: rotate(180deg)
      .bx-prev
        left: -26px


  .event-item
    border: 1px solid _medium_grey
    back-box-shadow()
    default-transition()

@require './_smartphone'
