@require '../../base'
@require './_partials/_mixins'

border-dotted()
  border: 4px dotted #ccc

.before-container
  height: 3000px
  border-dotted()

.row
  margin: 6px 0
  .block
    height: 50px
    border-dotted()
