@require '../../base'
@require './_partials/_mixins'

border-dotted()
  border: 4px dotted #ccc
.header
  background-color: transparent

.search-container
  background: url('/assets/images/header.jpg') no-repeat center 80%
  height: 242px

.page-wrapper
  margin-top: 0

.row
  margin: 6px 0
  .block
    height: 50px
    border-dotted()
