link(href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700"  rel="stylesheet")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css")
link(rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico")
link(rel="stylesheet" href="/assets/css/pages/" + viewName + "/main.css")
