script(src="/assets/bower_components/jquery/dist/jquery.js")
script(src="/assets/js/main.js")

if helpers.viewHelpers.assetExists("js/pages/" + viewName + "/main.js")
  script(src="/assets/js/pages/" + viewName + "/main.js")
