div.menu-header
  div.logo
    = 'Qettal'
  div.close
    = t('menu.close')
    i.fa.fa-times
div.menu-body
  nav.main-menu
    ul.menu-list
      li.menu-item
        a(href="#")= t('menu.profile')
      li.menu-item
        a(href="#")= t('menu.purchasesHistoy')
