@require '../../base'

.profile-container
  text-align: center
  background-color: #fff
  default-border-radius()
  back-box-shadow()
  padding: 20px
  margin-top: 30px

  .title
    margin-bottom: 20px

.profile-sections-container
  padding-bottom: 20px
  clearfix()
