@require '../../base'

.login-container
  text-align: center
  background-color: #fff
  default-border-radius()
  back-box-shadow()
  padding: 20px

  .title
    margin-bottom: 20px
  .subtitle
    margin-bottom: 15px

.login-sections-container
  border-width: 50%
  padding-bottom: 20px
  clearfix()

.facebook-login-container
  border-right: 2px solid #ccc

.form-login-container
  text-align: left

.service-terms
  margin-top: 10px
