@import '../../base'

.event-name
  margin-bottom: 20px
  color: secondary-color
  font-weight: bold

.checkout-items-table
  tbody > tr:last-child td
    font-weight: bold
  thead td
    font-weight: normal

.payment-form-container
  padding: 20px
  background-color: _grey
  default-border-radius()
  back-box-shadow()

  .row
    margin-bottom: 10px

  .payment-form
    > label
      display: block
      border-bottom: 1px solid _medium_grey
      margin-bottom: 15px
      font-weight: bold
    > .form-group
      margin-bottom: 25px
    > .form-group
        label
          font-weight: normal
        &:last-child
          margin-bottom: 0

  .row:last-child
    margin-bottom: 0
