@import '../../base'

.event-name
  margin-bottom: 20px
  color: lighter-purple
  font-weight: bold

.checkout-items-table
  tr:last-child td
    font-weight: bold

.payment-form-container
  padding: 20px
  background-color: _grey
  default-border-radius()
  back-box-shadow()

  .row
    margin-bottom: 10px

  .payment-form
    > label
      font-size: 16px
      display: block
      border-bottom: 1px solid _medium_grey
      margin-bottom: 15px
    > .form-group
      margin-bottom: 25px
    > .form-group:last-child
      margin-bottom: 0
  .row:last-child
    margin-bottom: 0
