<!DOCTYPE html>
html(lang="en")
head
	block meta
		include ./_partials/_meta
	block title
		title Qettal
	block css
		include ./_partials/_css-head
		
body
	header.header
		block header
			div.menu-toggle
				each line in [0,1,2]
					div.line
			div.logo
				='Qettal'
		
	section.main-content
		block main-content
	
	footer.footer
		block footer
