extends base

block append css
  link(rel="stylesheet" href="assets/css/pages/index/page.css")

block before-main-content
  div.search-container

block main-content
  div.row.double
    div.highlight
    div.highlight
  div.row.quadruple
    div.highlight
    div.highlight
    div.highlight
    div.highlight
  div.row.triple
    div.highlight
    div.highlight
    div.highlight
