<!DOCTYPE html>
html(lang="en")
head
	block meta
		include ./_partials/_meta
	block title
		title Qettal
	block css
		include ./_partials/_css-head
		
body
	header
		block header
		
	section.main-content
		block main-content
	
	footer.footer
		block footer
