extends base

block container
  block page-title
    - var pageTitle = 'Lista padrão';
    
  h1.title #{pageTitle}
  section.events-list-container.row
    each event in events
      include ./_partials/_list-item
